<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="menu_governance_root"
            name="Performance&#10;Management"
            web_icon="governance,static/description/icon.png"
            sequence="0"/>

    <menuitem
            id="menu_strategy"
            name="Strategy"
            parent="menu_governance_root"
            sequence="1"/>

    <menuitem
            id="menu_register"
            name="Registers"
            parent="menu_governance_root"
            sequence="2"/>

    <menuitem
            id="menu_configuration"
            name="Configurations"
            parent="menu_governance_root"
            sequence="120"/>

    <menuitem
            id="menu_problem"
            name="Problem"
            parent="menu_register"
            sequence="13"/>

</odoo>