<odoo>
  <menuitem id="menu_utility_root" parent="itsys_real_estate.menu_itsys_real_estate" name="Utilities" sequence="23"/>

  <menuitem id="menu_utility_tariffs" name="Tariff"
            parent="itsys_real_estate.menu_settings"/>
  <menuitem id="menu_utility_tariffs_plans" name="Tariff Plans"
            parent="menu_utility_tariffs" action="action_utility_tariffs"/>
  <menuitem id="menu_utility_tariffs_block" name="Tariff Block"
            parent="menu_utility_tariffs" action="action_utility_tariffs_block"/>
  <menuitem id="menu_utility_meters" name="Meters" parent="menu_utility_root" sequence="4" action="action_utility_meters"/>
  <menuitem id="menu_utility_readings" name="Meter Readings" parent="menu_utility_root" sequence="4" action="action_utility_readings"/>
</odoo>

