p {
    font-size: 16px;
    line-height: 1.5;
}

#tender_information {
    width: 100%;
    border-collapse: collapse;
}

#tender_information th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tender_information thead th {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
}

#tender_information tbody {
    height: 200px;
    overflow-y: scroll;
}

#auction_bidders {
    padding-left: 60px;
    color: #007bff;
}

#auction_bidders:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#bid_amount {
    max-width: 10rem;
    font-size: 16px;
}

.tender_timer {
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 10px; /* Reduced padding */
    display: inline-block;
    background: #dbdbdb4a;
    font-size: 14px; /* Reduced font size */
}

.tender_timer:hover {
    transform: scale(1.1); /* Reduced scale */
}

#timer {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f5f5f5;
}

.auction_min_amount {
    padding: 10px;
}

.alert {
    display: none;
}

.form-group-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group-row .form-group {
    margin-bottom: 10px;
}

.custom-button-bid {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.custom-button-bid:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.section-heading {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-weight: bold;
}

.unique-navbar {
    background-color: #808080; /* Gray color */
    padding: 5px 15px; /* Further reduced padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px; /* Adjusted margin */
}

.unique-navbar-left {
    font-size: 18px;
}

.unique-navbar-right {
    font-size: 14px; /* Reduced font size */
    display: flex;
    align-items: center;
}
#tender_timer_count{
    font-size: 20px;
}
.countdown-text {
    margin: 0;
    font-size: 12px;
}

.countdown-date {
    margin: 0;
    font-size: 12px;
}
