.hero-section-grant {
  background: url('/emergency_housing/static/src/img/application.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 6rem 2rem;
}
.hero-section p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.form-application-border {
    border: solid 1px #8d8a8a;
    border-radius: 13px;
    padding: 20px;
}