.seta_config_dashboard {
    background: white;
    box-ssetang: border-box;
}
.seta_select_dashboard {
    cursor: pointer;
}
.seta_config_dashboard_button_container {
}
.seta_config_dashboard_button_container .seta_btn{
    margin-left: 6px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Roboto-Light';
}
.seta_select_dashboard .seta_edit_dashboard_button,
.seta_select_dashboard .seta_save_dashboard_button {
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
}
.seta_select_dashboard .seta_title .seta_input {
    color: black;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
}
.seta_dashboard_filter {
    width: 150px;
    height: 33px;
    line-height: 33px;
    color: #875A7B;
    border: 1px solid #875A7B;
    border-radius: 6px;
    margin-left: 6px;
}
.seta_dashboard_filter_title {
    float: left;
    width: auto;
    height: 32px;
}
.seta_dashboard_filter_title span{
    height: 32px;
    line-height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    background: #875A7B;
    font-size: 18px;
    margin-left: -2px;
    color: white;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.seta_dashboard_filter_content {
    float: left;
    width: 110px;
    height: 32px;
}
.seta_dashboard_filter_content .seta_dropdown {
    width: 100%;
}
.seta_dashboard_filter_content .dropdown-toggle {
    height: 32px;
    line-height: 32px;
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 10px;
    background: none;
    font-weight: 300;
    font-size: 13px;
    color: #875A7B;
}
.seta_dashboard_filter_content .dropdown-toggle:focus {
    outline: none;
}
.seta_dashboard_filter_content .dropdown-toggle::after {
    display: none;
}
.seta_dashboard_filter_content a.dropdown-item.seta_select_date_format {
    height: 28px;
    line-height: 28px;
    box-ssetang: content-box;
    width: auto;
}
.seta_dashboard_filter#seta_dashboard_filter_date_range {
    width: 300px;
}
.seta_dashboard_filter#seta_dashboard_filter_date_range .seta_dashboard_filter_content {
    width: 260px;
}
.seta_dashboard_filter#seta_dashboard_filter_date_range .seta_dashboard_filter_content .o_datepicker{
    float: left;
    width: 50%;
    padding-left: 10px;
}
.seta_dashboard_filter#seta_dashboard_filter_date_range .seta_dashboard_filter_content .o_datepicker input{
    border: 0px;
    height: 32px;
    line-height: 32px;
    background: none;
    font-size: 13px;
}
.seta_dashboard_filter#seta_dashboard_filter_date_range .seta_dashboard_filter_content .o_datepicker input::placeholder{
    font-weight: 300;
    font-size: 13px;
    color: #875A7B;
}
@media only screen and (max-width: 792px) {
    .seta_config_dashboard_button_container {
        display: none !important;
    }
    .seta_dialog_content {
        width: 80% !important;
        left: 10% !important;
    }
    .seta_dialog_content .seta_select_item {
        width: 100% !important;
        margin: 5px 0% !important;
    }
    .seta_view.seta_flex {
        display: block !important;
    }
    .seta_config_analysis {
        width: 100% !important;
        padding: 0px !important;
    }
    .seta_view_analysis {
        width: 100% !important;
        padding: 0px !important;
        padding-top: 10px !important;
    }
}