/* Filter */
.seta_analysis_filter_temp_container {
    display: block;
    float: right;
}
.seta_analysis_filter_temp{
    float: right;
    display: flex;
    border-radius: 6px;
    margin-left: 10px;
}
.seta_analysis_filter_temp_container .seta_analysis_filter_temp_title {
    font-weight: 600;
    font-size: 13px;
    height: 32px;
    line-height: 30px;
    background: #875A7B;
    border: 1px solid #875A7B;
    display: block;
    color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: 0px;
    cursor: pointer;
}
.seta_analysis_filter_temp .seta_input {
    border: none;
    width: 100px;
    padding: 0px;
    font-weight: 300;
    color: #875A7B;
}
.seta_analysis_filter_temp .seta_input::placeholder {
    color: #444;
    font-weight: 300;
}
.seta_analysis_filter_temp .seta_select2 .select2-choices {
    border: none;
}
.seta_analysis_filter_temp .seta_select2.select2-container-multi .select2-choices .select2-search-field input {
    margin-left: 10px;
}
.seta_analysis_filter_temp .o_datepicker {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.seta_analysis_filter_temp_content .seta_dropdown {
    height: 30px;
    line-height: 30px;
    margin: 0px 10px;
}
.seta_analysis_filter_temp_title.seta_dropdown {
    margin: 0px;
}
.seta_analysis_filter_temp .seta_dropdown button {
    font-weight: 300;
    background: none;
    outline: none;
    color: #875A7B;
    font-size: 13px;
}
.seta_analysis_filter_temp .seta_dropdown .dropdown-toggle::after {
    vertical-align: 0.1em;
}
.seta_analysis_filter_temp span.material-icons-outlined {
    line-height: 30px;
    font-size: 16px;
    padding: 0px 8px;
}
.seta_analysis_filter_temp .seta_analysis_filter_temp_title .dropdown-toggle::after {
    display: none;
}
.seta_analysis_filter_temp .dropdown-item {
    cursor: pointer;
    height: 32px;
    line-height: 22px;
}
.seta_analysis_filter_temp .seta_analysis_filter_temp_title .dropdown-item.active {
    background: #875A7B;
    color: white;
}
.seta_analysis_filter_temp {
    opacity: 0.2;
}
.seta_analysis_filter_temp:hover,
.seta_analysis_filter_temp.active {
    opacity: 1;
}
.seta_analysis_filter_temp_content {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 32px;
    overflow: hidden;
    width: 0px;
    border: none;
}
.seta_analysis_filter_temp.active .seta_analysis_filter_temp_title {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.seta_analysis_filter_temp.active .seta_analysis_filter_temp_content{
    overflow: visible;
    width: auto;
    border: 1px solid #875A7B;
}