.seta_view {
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    font-family: 'Roboto';
}
.seta_flex{
    display: flex;
}

.seta_view_analysis {
    box-ssetang: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    background: #E9ECEF;
    z-index: 9;
}

.seta_view_analysis .seta_dashboard_block_item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.seta_config_analysis {
    background: white;
    box-ssetang: border-box;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    border-right: 2px solid #EEE;
}

.seta_view_dashboard {
    background: #E9ECEF;
    box-ssetang: border-box;
    width: 100%;
    height: auto;
    min-height: 150%;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.seta_view_visual {
    display: flex;
    padding: 0px;
    /* margin: 20px; */
    margin-top: 0px;
}

.seta_view_visual .gridjs-container {
    font-size: 13px;
    margin: 20px;
    margin-top: 10px;
    overflow: auto;
}

.seta_view_background{
    background: #E9ECEF;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    flex-wrap: wrap;
}

.seta_dashboard_block_item_v_background{
    background: #E9ECEF !important;
    box-shadow: none !important;
}