
#tiles:hover {
  border-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  box-shadow: 0 6px 7px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.12);
}
#tiles{
    margin: 5px;
    padding: 10px;
    border: 1px solid #949794;
    border-radius: 5px;
}
#movable_asset thead th {
  border-bottom: none;
  background-color: #67b7dc;
  color: white;
  width: 250px;
  height: 30px;
}
#movable_asset {
    background-color:  #fff;
    color: #7D7EAF;
}