.fa-facebook {
    color: #1877F2;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-music {
    color: #000;
}

.fa-envelope {
    color: #FFA500;
}

.fa-user {
    color: #6c757d;
}

.fa-phone {
    color: #17a2b8;
}

.fa-bullhorn {
    color: #dc3545;
}

.fa-file {
    color: #6c757d;
}

.fa-globe {
    color: #007bff;
}
