.o_livechat_channel_logo {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.o_livechat_channel_logo_image {
    width: 72px;
    height: 72px;
    max-width: 100%;
    object-fit: contain;
}

@media (max-width: 575.98px) {
    .o_livechat_channel_logo {
        margin-bottom: 0.5rem !important;
    }

    .o_livechat_channel_logo_image {
        width: 56px;
        height: 56px;
    }
}
