<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<menuitem id="menu_committee_root" name="Committee" web_icon="oi_committee,static/description/icon.png" />
	
	<menuitem id="menu_committee_meeting" action="act_committee_meeting" parent="menu_committee_root" sequence="10" />
	
	<menuitem id="menu_committee" action="act_committee" parent="menu_committee_root" sequence="20" />
	
	<menuitem id="menu_committee_type" action="act_committee_type" parent="menu_committee_root" sequence="999" groups="base.group_system" />
	
</odoo>