input#name {
    border: solid 1px;
}
input#surname {
    border: solid 1px;
}
input#id_number {
    border: solid 1px;
}

input#phone {
    border: solid 1px;
}
input#company {
    border: solid 1px;
}
input#office_visiting {
    border: solid 1px;
}
input#make {
    border: solid 1px;
}
input#serial_number {
    border: solid 1px;
}
select#visitor_laptop {
    border: solid 1px;

select#category {
    border: solid 1px;
}
textarea#purpose {
    border: solid 1px;
}

select#department {
    border: solid 1px;
}