.hero-section .nav-link {
    font-weight: 500;
    color: #fff !important;
    opacity: 0.85;
}
.hero-section .nav-link.active {
    opacity: 1;
    border-color: #22d375 !important;
}
.hero-section .form-select {
    border: solid 1px #dddbd8;
    background-color: #22d375;
    color: #fff;
}
.hero-section .form-select:focus {
    box-shadow: none;
    border-color: #fff;
    background-color: #8dcdab;
}
