.dashboard-header{
    margin: 25px 0px 25px 0px
    }
.section-header {
    font-family: math;
    padding-left: 20px;
    }
.dashboard-card {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: solid 1px #b3a2a2;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    box-shadow: 1px 1px 5px;
    }

.dashboard-card:hover{
    transform: translateY(-.5px);
    box-shadow: 5px 5px 5px;
    cursor:pointer;
}

.card-icon {
    font-size: 30px;
    padding: 10px 0px 0px 10px
    }