.o_frontdesk {
    .o_main_bg_img {
        background-size: 1920px 1032px !important;
        background-repeat: no-repeat;
        background-position: center;
    }

    .o_fd_registered_block_shift {
        margin-top: 30px; /* adjust: 16px, 20px, 24px, etc. */
    }
}
