.o_field_html {
    table.table.table-bordered {
        table-layout: fixed;
        tr {
            > td {
                > p {
                    margin-block-start: 0em !important;
                    margin-block-end: 0em !important;
                }
            }
        }
    }
}