.o_main_navbar {
    background-color: $mk-appbar-background !important;
}

.mk_navbar_apps_menu {
    > .dropdown > button {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        color: #fff !important;
    }

    .dropdown-menu {
        padding: 0;
        min-width: 240px;
        background-color: $mk-appbar-background;
        border: none;
        box-shadow: none;
    }

    .mk_navbar_apps_menu_list {
        padding: 0;

        > li > .mk_navbar_apps_menu_item {
            cursor: pointer;
            font-size: 13px;
            font-weight: 300;
            overflow: hidden;
            padding: 8px 11px;
            text-decoration: none;
            color: #fff;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;

            .mk_apps_sidebar_icon {
                width: 22px;
                height: 22px;
                margin-right: 5px;
                flex-shrink: 0;
            }

            .mk_apps_sidebar_name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        > li.active > .mk_navbar_apps_menu_item,
        > li:hover > .mk_navbar_apps_menu_item {
            background: $mk-appbar-active;
        }
    }
}
