
.audit_content{
    height:auto;
}

.audit_main{
    margin-top: 40px;
    margin-left: 2%;
    width:96%;
}

.content_audit_external{
    transition: 0.5s;
    box-shadow: 1px 1px 5px;
}
.content_audit_external:hover{
    transform: translateY(-.5px);
    box-shadow: 5px 5px 5px;
    cursor:pointer;
}

.audit_other_info{
    height:14vh;
    margin-left:10px;
    margin-bottom:10px;
}
.audit_icon-div{
    font-size:25px;
    color:#fff;
    background-color:#a9a1e7;
    height:14vh;
}
.my_audit_icon-div{
    font-size:25px;
    color:#fff;
    background-color:#b4dfc4;
    height:14vh;
}
.my_audit_to_icon-div{
    font-size:25px;
    color:#fff;
    background-color:#e1bfde;
    height:14vh;
}
.my_audit_to_complete_icon-div{
    font-size:25px;
    color:#fff;
    background-color:#cfe1bf;
    height:14vh;
}
.audit_icon-content{
    height:24vh;
    font-size:40px;
    }
.audit_icon-content i{
    margin-top:9vh;
    color:#fff;
}
.audit_border-content{
    background-color: #fff;
    border: solid;
    border-width: 1px;
}