.o_performanance_contract_dashboard_tile {
    cursor: pointer;
    transition: transform 0.2s;
    border: 10px solid #19366291;
    border-radius: 10px;
    margin: 2px;
    padding: 7px;
    height: 330px;
    width: 100%;

}
.o_performanance_contract_dashboard_tile:hover {
    transform: scale(1.02);
}

