
.btn-primary {
  background-color: #E8B90E !important;
  border-color: #E8B90E !important;
  color: white !important;
}

.btn-primary {
    --btn-color: #FFF;
    --btn-bg: #E8B90E !important;
    --btn-border-color: #E8B90E !important;
    --btn-hover-color: #FFF;
    --btn-hover-bg: #52374b;
    --btn-hover-border-color: #52374b;
    --btn-focus-shadow-rgb: 134, 102, 126;
    --btn-active-color: #E8B90E !important;
    --btn-active-bg: #f1edf0;
    --btn-active-border-color: #E8B90E !important;
    --btn-active-shadow: 0;
    --btn-disabled-color: #FFF;
    --btn-disabled-bg: #E8B90E !important;
    --btn-disabled-border-color: #E8B90E !important;
}

.btn-outline-primary {
    --btn-color: #E8B90E !important;
    --btn-border-color: #E8B90E !important;
    --btn-hover-color: #FFF;
    --btn-hover-bg: #E8B90E !important;
    --btn-hover-border-color: #E8B90E !important;
    --btn-focus-shadow-rgb: 113, 75, 103;
    --btn-active-color: #FFF;
    --btn-active-bg: #E8B90E !important;
    --btn-active-border-color: #E8B90E !important;
    --btn-active-shadow: 0;
    --btn-disabled-color: #E8B90E !important;
    --btn-disabled-bg: transparent;
    --btn-disabled-border-color: #E8B90E !important;
    --gradient: none;
}