.o_sign_sign_item_pdfview {
    border: none !important;
}
.o_sign_frame {
    display: none !important;
}

/* Highlight Refuse Reason label/header for quick visibility */
.o_form_view .o_field_x2many[name="sign_log_ids"] th[data-name="refusal_reason"] {
    color: hwb(0 7% 3%);
    font-weight: 600;
}

.o_form_view .o_field_x2many[name="sign_log_ids"] td[data-name="refusal_reason"] {
    color: #d97a7a;
    font-weight: 500;
}

.o_refuse_reason_label {
    color: #d97a7a;
}

.o_refuse_reason_value {
    color: #d97a7a;
}