
/* Generic */
.seta_view .form-control, .seta_view input, .seta_view select {
    border-radius: 6px;
    font-weight: 300;
    font-size: 12px;
}
.seta_view .form-control:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}
.seta_view select {
    background-position-x: 95%;
}
.seta_btn:focus, .seta_btn.focus{
    box-shadow: none !important;
    outline: none !important;
}
.seta_btn.progress{
    cursor: progress;
}
.seta_dropdown .dropdown-item:before {
    display: none !important;
}
.seta_dropdown .dropdown-item {
    font-size: 13px;
    padding: 8px 20px !important;
    cursor: pointer;
}
.seta_dropdown .dropdown-item.beta {
    padding-right: 50px !important;
}
.seta_dropdown .dropdown-item.beta span {
    position: absolute;
    font-size: 6px;
    background: #06c;
    padding: 2px 6px;
    margin: 0px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 6px;
    letter-spacing: 0.5px;
    margin-top: -4px;
    margin-left: 6px;
}
.seta_dropdown .dropdown-menu {
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}
.seta_dropdown .dropdown-menu .dropdown-item{
    
}
.seta_divider {
    display: block;
    border-bottom: 1px solid #EEE;
    clear: both;
}
.seta_white.seta_divider {
    border-bottom: 1px solid #EEE !important;
}
.seta_p10 {
    padding: 10px !important;
}
.seta_p20 {
    padding: 20px !important;
}
.seta_p6_12 {
    padding: 6px 12px !important;
}
.seta_p15_p30 {
    padding: 15px 30px !important;
}
.seta_p20_p30 {
    padding: 20px 30px !important;
}
.seta_p10_20 {
    padding: 10px 20px !important;
}
.seta_pt0 {
    padding-top: 0px !important;
}
.seta_pb0 {
    padding-bottom: 0px !important;
}
.seta_m10_20 {
    margin: 10px 20px !important;
}
.seta_mt0 {
    margin-top: 0px !important;
}
.seta_align_center{
    text-align: center;
}
.seta_display_inline_block {
    display: inline-block;
}
.seta_wfull {
    width: 100%;
}
.seta_w200 {
    width: 200px;
}
.seta_wp40 {
    width: 40%;
}
.seta_wp60 {
    width: 60%;
}
.seta_bg_lp {
    background: #fceef8 !important;
}
.seta_bg_lb {
    background: #f5f5f9 !important;
}
.seta_col_p {
    color: #875A7B !important;
}
.seta_col_b {
    color: #06c !important;
}
.seta_col_transparent {
    color: transparent !important;
}
.seta_title {
    font-size: 15px;
    font-weight: 400;
    /* color: black; */
    color: #374151;
    cursor: pointer;
    line-height: 1.2;
    padding-bottom: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.seta_title_bold {
    font-size: 15px;
    font-weight: 400;
    /* color: black; */
    color: #374151;
    cursor: pointer;
}
.seta_title_light {
    font-size: 15px;
    font-weight: 300;
    /* color: black; */
    color: #374151;
    cursor: pointer;
}
.seta_subtitle_bold {
    font-size: 12px;
    font-weight: 600;
    /* color: black; */
    color: #374151;
    cursor: pointer;
}
.seta_subtitle {
    display: flex;
    align-items: center;

    font-size: 12px !important;
    font-weight: 300 !important;
    /* color: black; */
    color: #374151;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.seta_subtitle_normal {
    font-size: 12px;
    font-weight: 400;
    /* color: black; */
    color: #374151;
    cursor: pointer;
}
.seta_item{
    font-size: 13px !important;
    cursor: pointer;
}
.seta_item .seta_text {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.seta_rd4 {
    border-radius: 4px !important;
}
.seta_rd6 {
    border-radius: 6px !important;
}
.seta_rd8 {
    border-radius: 8px !important;
}
.seta_rd12 {
    border-radius: 12px !important;
}
.seta_rd16 {
    border-radius: 16px !important;
}
.seta_rd100 {
    border-radius: 100px !important;
}
.seta_inline {
    display: inline-block !important;
}
.seta_transparent {
    background: transparent !important;
}
.seta_inherit {
    background-color: inherit !important;
    border-color: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
}
.seta_white {
    background-color: white !important;
    border-color: white !important;
}
.seta_btn {
    color: #AAA;
    text-transform: initial;
    font-size: 14px;
    border-radius: 6px;
    /* font-family: 'Roboto'; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    border: 2px solid #AAA;
    display: inline-block;
    padding: 4px 12px;
    padding-left: 8px;
    margin: 0px;
    text-transform: capitalize;
}
.seta_block_left {
    display: block;
    float: left;
}
.seta_block_right {
    display: block;
    float: right;
}
.seta_flipY {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.seta_btn_icon {
    float: left;
    font-size: 18px;
    line-height: 20px;
}
.seta_btn_icon_left {
    float: left;
    font-size: 18px;
    line-height: 20px;
    margin-right: 4px;
}
.seta_btn_icon_right {
    float: right;
    font-size: 18px;
    line-height: 20px;
    margin-left: 4px;
}
.seta_hover_highlight {
    opacity: 0.1;
}
.seta_hover_highlight:hover {
    opacity: 1;
}
.seta_m0 {
    margin: 0px !important;
}
.seta_my8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.seta_my10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.seta_mt8 {
    margin-top: 8px !important;
}
.seta_mt10 {
    margin-top: 10px !important;
}
.seta_mb10 {
    margin-bottom: 10px !important;
}
.seta_mb5 {
    margin-bottom: 5px !important;
}
.seta_py0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.seta_pl0 {
    padding-left: 0px !important;
}
.seta_w40 {
    width: 40% !important;
}
.seta_w50 {
    width: 50% !important;
}
.seta_w80 {
    width: 80% !important;
}
.seta_w100 {
    width: 100% !important;
}
.seta_no_border {
    border: none !important;
}
.seta_btn:hover,
.seta_btn:not(:disabled):not(.disabled):active,
.seta_btn:not(:disabled):not(.disabled).active,
.show > .seta_btn.dropdown-toggle {
    color: white;
    background-color: #AAA;
    border-color: #AAA;
    cursor: pointer;
}
/* Button */
/* Primary */
.seta_btn.seta_btn_primary {
    background-color: #06c;
    border-color: #06c;
    color: white;
}
.seta_btn.seta_btn_primary:hover,
.seta_btn.seta_btn_primary:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_primary:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_primary.dropdown-toggle {
    background-color: white;
    border-color: #06c;
    color: #06c;
}
/* Secondary */
.seta_btn.seta_btn_secondary {
    background-color: #06c;
    border-color: #06c;
    color: white;
}
.seta_btn.seta_btn_secondary:hover,
.seta_btn.seta_btn_secondary:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_secondary:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_secondary.dropdown-toggle {
    background-color: white;
    border-color: #06c;
    color: #06c;
}
/* Purple */
.seta_btn.seta_btn_purple {
    background-color: #875A7B;
    border-color: #875A7B;
    color: white;
}
.seta_btn.seta_btn_purple:hover,
.seta_btn.seta_btn_purple:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_purple:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_purple.dropdown-toggle {
    background-color: white;
    border-color: #875A7B;
    color: #875A7B;
}
/* green */
.seta_btn.seta_btn_green {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}
.seta_btn.seta_btn_green:hover,
.seta_btn.seta_btn_green:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_green:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_green.dropdown-toggle {
    background-color: white;
    border-color: #28a745;
    color: #28a745;
}
/* wbb - White Blue Bordered*/
.seta_btn.seta_btn_blue {
    background-color: #06c;
    border-color: #06c;
    color: white;
}
.seta_btn.seta_btn_blue:hover,
.seta_btn.seta_btn_blue:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_blue:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_blue.dropdown-toggle {
    background-color: white;
    border-color: #06c;
    color: #06c;
}
.seta_btn.seta_btn_wbb {
    background-color: white;
    border-color: #06c;
    color: #06c;
}
.seta_btn.seta_btn_wbb:hover,
.seta_btn.seta_btn_wbb:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wbb:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wbb.dropdown-toggle {
    background-color: #06c;
    border-color: #06c;
    color: white;
}
/* wctb - White Coral Tree Bordered*/
.seta_btn.seta_btn_wctb {
    background-color: white;
    border-color: #AF6272;
    color: #AF6272;
}

.seta_btn.seta_btn_wctb:hover,
.seta_btn.seta_btn_wctb:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wctb:not(:disabled):not(.disabled).active,
.show>.seta_btn.seta_btn_wctb.dropdown-toggle {
    background-color: #AF6272;
    border-color: #AF6272;
    color: white;
}
/* wlct - White Light Coral Tree*/
.seta_btn.seta_btn_wlct {
    background-color: white;
    border-color: white;
    color: #AF6272;
}

.seta_btn.seta_btn_wlct:hover,
.seta_btn.seta_btn_wlct:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlct:not(:disabled):not(.disabled).active,
.show>.seta_btn.seta_btn_wlct.dropdown-toggle {
    background-color: #ffeff3;
    border-color: #ffeff3;
    color: #AF6272;
}
/* wdab - White Deep Aqua Bordered*/
.seta_btn.seta_btn_wdab {
    background-color: white;
    border-color: #057A81;
    color: #057A81;
}

.seta_btn.seta_btn_wdab:hover,
.seta_btn.seta_btn_wdab:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wdab:not(:disabled):not(.disabled).active,
.show>.seta_btn.seta_btn_wdab.dropdown-toggle {
    background-color: #057A81;
    border-color: #057A81;
    color: white;
}
/* wlda - White Light Deep Aqua*/
.seta_btn.seta_btn_wlda {
    background-color: white;
    border-color: white;
    color: #057A81;
}
.seta_btn.seta_btn_wlda:hover,
.seta_btn.seta_btn_wlda:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlda:not(:disabled):not(.disabled).active,
.show>.seta_btn.seta_btn_wlda.dropdown-toggle {
    background-color: #e8fafa;
    border-color: #e8fafa;
    color: #057A81;
}
/* wob - White Orange Bordered*/
.seta_btn.seta_btn_wob {
    background-color: white;
    border-color: #ff9600;
    color: #ff9600;
}
.seta_btn.seta_btn_wob:hover,
.seta_btn.seta_btn_wob:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wob:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wob.dropdown-toggle {
    background-color: #ff9600;
    border-color: #ff9600;
    color: white;
}
/* wlb - White Light Blue*/
.seta_btn.seta_btn_wlb {
    background-color: white;
    border-color: white;
    color: #444;
}
.seta_btn.seta_btn_wlb:hover,
.seta_btn.seta_btn_wlb:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlb:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wlb.dropdown-toggle {
    background-color: #f5f5f9;
    border-color: #f5f5f9;
    color: #06c;
}
/* wlo - White Light Orange*/
.seta_btn.seta_btn_wlo {
    background-color: white;
    border-color: white;
    color: #CCC;
}
.seta_btn.seta_btn_wlo:hover,
.seta_btn.seta_btn_wlo:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlo:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wlo.dropdown-toggle {
    background-color: #fff5e4;
    border-color: #fff5e4;
    color: #ff9600;
}
/* wpb - White Purple Bordered*/
.seta_btn.seta_btn_wpb {
    background-color: white;
    border-color: #875A7B;
    color: #875A7B;
}
.seta_btn.seta_btn_wpb:hover,
.seta_btn.seta_btn_wpb:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wpb:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wpb.dropdown-toggle {
    background-color: #875A7B;
    border-color: #875A7B;
    color: white;
}
/* wlp - White Light Purple*/
.seta_btn.seta_btn_wlp {
    background-color: white;
    border-color: white;
    color: #7c5271;
}
.seta_btn.seta_btn_wlp:hover,
.seta_btn.seta_btn_wlp:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlp:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wlp.dropdown-toggle {
    background-color: #fceef8;
    border-color: #fceef8;
    color: #7c5271;
}
/* wlg - White Light Grey*/
.seta_btn.seta_btn_wlg {
    background-color: white;
    border-color: white;
    color: #000;
}
.seta_btn.seta_btn_wlg:hover,
.seta_btn.seta_btn_wlg:not(:disabled):not(.disabled):active,
.seta_btn.seta_btn_wlg:not(:disabled):not(.disabled).active,
.show > .seta_btn.seta_btn_wlg.dropdown-toggle {
    background-color: #eee;
    border-color: #eee;
    color: #000;
}

.seta_select_theme.active{
    background-color: #e9ecef;
}

.seta_select_visual{
    max-height: 80px;
    width: 31%;
    padding: 6px 3px 4px 3px !important;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid white;
    background: #FAFAFA;
    border-radius: 8px;
    color: #BBB;
    margin: 1%;
}
.seta_select_visual span{
    margin-bottom: 2px;
}
.seta_select_visual.active,
.seta_select_visual:hover,
.seta_select_visual:not(:disabled):not(.disabled):active,
.seta_select_visual:not(:disabled):not(.disabled).active{
    background: #06c;
    color: white;
    /* font-weight: 600; */
}
.seta_bold {
    font-weight: bold !important;
}

.seta_float_icon {
    float: right;
    font-size: 20px;
    opacity: 0.4;
}
.seta_select_dashboard:hover .seta_float_icon,
.seta_select_analysis:hover .seta_float_icon {
    opacity: 1;
}


.seta_rotate {
    -webkit-animation: rotateOnZ 2s infinite linear;
            animation: rotateOnZ 2s infinite linear;
  }
  
  @-webkit-keyframes rotateOnZ {
    to {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
  
  @keyframes rotateOnZ {
    to {
      -webkit-transform: rotateZ(360deg);
              transform: rotateZ(360deg);
    }
  }
.drilldown_background .drilldown-fields-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.drilldown_background .drilldown-fields {
    position: absolute;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    border-radius: 6px;
    width: 150px;
}
.drilldown_background .drilldown-fields-menus{
    width:100%;
    max-height:500px;
    overflow-y:scroll;
}
.drilldown_background .drilldown-fields-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, "Noto Sans", Arial, "Odoo Unicode Support Noto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.drilldown_background .drilldown-fields-item:hover {
    background-color: #f0f0f0;
}
.drilldown_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 9999;
}
  