<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate="0">
        <menuitem id="seta_dashboard_menu"
                  parent="seta_data.seta_dashboard_root" name="Dashboard"
                  sequence="10" action="seta_dashboard_action"/>
        <menuitem id="seta_analysis_menu" parent="seta_data.seta_dashboard_root"
                  name="Analysis" sequence="20" action="seta_analysis_action"/>
    </data>
</odoo>