html {
	body {
		main {
			.oe_website_login_container {
				background-color: white;
				height: 100%;
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				display: flex;
				align-items: center;
				justify-content: center;  // ADD THIS
    			width: 100%; 
			}

			.oe_login_form,
			.oe_signup_form,
			.oe_reset_password_form {
				margin: 20px auto;
				padding: 95px;
				border-radius: 0px;
				background-color: white;
				max-width: fit-content;
				height: inherit;



				@media (max-width: 480px) {
					padding: 30px 20px;
					width: 100%;
					max-width: 100%;
					margin: 10px auto;
				}

				@media (max-width: 375px) {
					padding: 20px 15px;
					width: 100%;
					max-width: 100%;
					margin: 8px auto;
				}
			}
		}
	}
}