<?xml version="1.0"?>
<odoo>

    <!--Menu Changes-->
    <!--https://openerp-server.readthedocs.io/en/latest/03_module_dev_04.html-->
<!--<record model="ir.ui.menu" id="base.menu_administration">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="seta_data.seta_dashboard_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="crm.crm_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="helpdesk.menu_helpdesk_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="project.menu_main_pm">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="contacts.menu_contacts">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="planning.planning_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="crm.crm_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="stock.menu_stock_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="hr_holidays.menu_hr_holidays_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="itsys_real_estate.menu_settings">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="base.menu_management">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="fleet.menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="base.menu_board_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="spreadsheet_dashboard.spreadsheet_dashboard_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="cloud_base.menu_cloud_base_main">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="network_drives.menu_network_drives">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="hr_timesheet.timesheet_menu_root">
        <field name='name'>Attendance</field>
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]" />
    </record>
    <record model="ir.ui.menu" id="hr_attendance.menu_hr_attendance_root">
        <field name='name'>Timesheets</field>
    </record>
    <record model="ir.ui.menu" id="social.menu_social_global">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('social.group_social_manager'),
            ref('social.group_social_user'),
            ref('mass_mailing.group_mass_mailing_user')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="mass_mailing.mass_mailing_menu_root">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('social.group_social_manager'),
            ref('social.group_social_user'),
            ref('mass_mailing.group_mass_mailing_user')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="survey.menu_surveys">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('survey.group_survey_user'),
            ref('survey.group_survey_manager')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="hr_work_entry_contract_enterprise.menu_hr_payroll_root">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="utm.menu_link_tracker_root">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="event.event_main_menu">
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('event.group_event_registration_desk'),
            ref('event.group_event_manager'),
            ref('event.group_event_user')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="law_firm_bits.law_menu_root_bits">
        <field name='name'>Legal</field>
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('law_firm_bits.group_law_firm_lawyer_bits'),
            ref('law_firm_bits.group_law_firm_administrator_bits'),
            ref('law_firm_bits.group_law_firm_lawyer_assistant_bits')
        ])]"/>
    </record>
    <record model="ir.ui.menu" id="maintenance.menu_maintenance_title">
        <field name='name'>Maintenance</field>
        <field name="groups_id" eval="[(6, 0, [
            ref('base.group_system'),
            ref('maintenance.group_equipment_manager')
        ])]"/>
    </record>-->

</odoo>
